<!-- =============   footer   ================= -->

<footer class="page-footer black lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Killbase<span class="red-text">.</span></h5>
        <p class="grey-text text-lighten-4">Let us do the dirty work.</p>


      </div>
      <div class="col l3 s12">
        <ul>
          <li><a class="white-text" href="/assassins">Assassins</a></li>
        </ul>
      </div>
      <div class="col l3 s12">

        <ul>
          <li><a class="white-text" href="/contracts">Contracts</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <span class="grey-text text-darken-1">Melissa</span>
    </div>
  </div>
</footer>





<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
