<!DOCTYPE html>
<html>
<% include partials/head %>

<body>
  <% include partials/nav %>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row main-row border-bottom">
        <div class="col s7 light">
          <a href="/assassins">
          <img src="/images/assassins.png" class="responsive-img top-margin">
          <h3 class="center-align">Assassins</h3></a>
        </div>
        <div class="col s4 light offset-s1">
          <a href="/contracts">
          <img src="/images/contracts.png" class="responsive-img">
          <h3 class="center-align">Contracts</h3></a>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <br><br>

  <% include partials/footer %>

</body>

</html>
