
.main-row {
  padding-top: 10%;
  /* margin-bottom: 30%; */
}
.top-margin {
margin-top: 10%;
}
p, li {
  margin-right: 20px;
}
li:hover, a:hover {
  color: red;
  transition: 1s;
}
h4, h4 > .small {
  display: inline;
}
.header {
  margin-bottom: 5%;
}
.header-right {
  margin-right: 2%;
}
.header-oneline {
  float: left;
}
.header-border {
  border-bottom: solid 1px lightgrey;
}
.table-margin {
  margin-top: 4%
}
.table-padding {
  padding: 1%;
}
.header-left {
  padding-left: 10%;
}
.header-extra {
  margin-bottom: 10%;
}
.header-left-small {
  padding-left: 3%;
}
.table-pad-top {
  padding-top: 4%;
}
.header-rightp {
  padding-right: 2%
}
